<div class="container">
    <%= image_tag ("empty.jpg"), :class => "main_image" %>
    <h2>Oasis at Wild Horse Ranch</h2>
    <br />
    <br />
    <h3><%= link_to '6801 N Camino Verde', 'https://g.page/OasisatWildHorseRanch?share' %></h3>
    <br />
    <h4><%= link_to 'Tucson, AZ 85743', 'https://g.page/OasisatWildHorseRanch?share' %></h4>
    <br />
    <br />
    <h5>April 2nd, 2021</h5>
    <br />
    <br />
    <h6>Ceremony: 6pm</h6>
    <br />
    <h7>Reception & dinner to follow</h7>
</div>