<div class="container">
    <%= image_tag ("frame.png"), :class => "main_image" %>
    <h10><%= link_to 'Disney', 'https://disney.honeymoonwishes.com/Honeymoon-Registry-412528-Walt-Disney-World-Resort-Adeline-Margaillan-Frank-Chacon.html', style: 'color: #930e0a' %></h10>
    <h11><%= link_to 'Amazon', 'https://www.amazon.com/wedding/adeline-margaillan-frank-chacon-tucson-april-2021/registry/MOOJM5JP2J9U
', style: 'color: #930e0a' %></h11>
  
</div>