@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background: image_url('tree_bark.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Lobster', cursive;
  margin-left: 42%;
  font-size: 100px;
  margin-bottom: 1px;
}

h2 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
}

h3 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

h4 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

h5 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

h7 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

.main_image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 25px;
  width: 900px;
  height: 1100px;
  display: block;
  position: relative;
  text-align: center;
  border-radius: 45% / 35%;

}

.nav-link {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #930e0a;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #930e0a;
}

/*.map {
  color: red;
  font-size: 40px;
  margin-left: 50%;
  margin-bottom: 50%;
  text-align: center;
}*/

.container {
  position: relative;
  text-align: center;
  color: white;
}






