@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');



body {
  background: image_url('lights.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

h1 {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 6vw;
}

h2 {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 4vw;
  padding-bottom: 7%;
  padding-top: 7%;
}

h3 {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 2.5vw;
  padding-bottom: 1%;
  padding-top: 4%;
}

h4 {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 2.5vw;
  padding-top: 6%;
}

h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 2.5vw;
  padding-top: 8%;
}

h6 {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 2vw;
  padding-top: 8%;
}

h7 {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 2vw;
  padding-top: 6%;
}

h8 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 3vw;
}

h9 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 3vw;
}

h10 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 5vw;
  padding-bottom: 4%;
}

h11 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 5vw;
  padding-top: 4%;
}

.main_image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*margin-top: 4%;*/
  width: 90%;
  height: 500%;
/*  display: block;*/
  position: relative;
/*  text-align: center;*/
/*  border-radius: 45% / 35%;
  box-shadow: 0px 1px 3px #2a2a2a;*/

}

.nav-link {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: blue;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #930e0a;
}

.container {
  position: relative;
  text-align: center;


 
  /*color: white;*/
}

.navbar {
  background: img_url('nice_snow.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}







