@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

body {
  background: image_url('tree_bark.png') center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

h1 {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 145px;
}

h2 {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 90px;
}

h3 {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
}

h4 {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
}

h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 45px;
}

h6 {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 45px;
}

h7 {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 40px;
}

h8 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 80px;
}

h9 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #930e0a;
  font-family: 'Alex Brush', cursive;
  font-size: 80px;
}

.main_image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 25px;
  width: 900px;
  height: 1100px;
  display: block;
  position: relative;
  text-align: center;
  border-radius: 45% / 35%;
  box-shadow: 0px 1px 3px #2a2a2a;

}

.nav-link {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: blue;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #930e0a;
}

/*.map {
  color: red;
  font-size: 40px;
  margin-left: 50%;
  margin-bottom: 50%;
  text-align: center;
}*/

.container {
  position: relative;
  text-align: center;
  /*color: white;*/
}

.navbar {
  background: img_url('nice_snow.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}





